TELEGRAM_BOT_TOKEN=1234 # youre token

DATABASE_URL=postgresql://your_url
SUPABASE_PUPLISH_KEY=sb_publishable_your_key
SUPABASE_SICRET_KEY=sb_secret_your_key


SUPABASE_URL=https://your_url

WEBHOOK_SECRET=your_secret